# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# project
/apps/*/build
/apps/*/dist
/packages/*/build
/packages/*/dist

# test fixtures
*.temp.jsonl

# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
